<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Auricle - The Multi-Purpose Responsive HTML5 Template</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icons -->
      <link rel="icon" href="images/fevicon/fevicon.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- site css -->
      <link rel="stylesheet" href="css/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="css/responsive.css" />
      <!-- colors css -->
      <link rel="stylesheet" href="css/colors.css" />
      <!-- wow animation css -->
      <link rel="stylesheet" href="css/animate.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body id="default_theme" class="home_page1">
      <!-- header -->
      <header class="header header_style1">
         <div class="container">
            <div class="row">
               <div class="col-md-9 col-lg-10">
                  <div class="logo"><a href="index.html"><img src="images/Tungalogo.png" alt="#" /></a></div>
                  <div class="main_menu float-right">
                     <div class="menu">
                        <ul class="clearfix">
                           <li class="active"><a href="home">Home</a></li>
                           <li><a href="about.html">About</a></li>
                           
                           <li><a href="courses">Courses</a></li>
                          
                           <li><a href="team.html">Team</a></li>
                           <li><a href="contact.html">Contact</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-lg-2">
                  <div class="right_bt"><a class="bt_main" href="index.html">Get Support</a> </div>
               </div>
            </div>
         </div>
      </header>   

    <!-- footer -->
    <footer class="footer_style_2" style="border-top: 3px solid #38eaf9;">
      <div class="footer_top">
         <div class="container">
            <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 margin_bottom_30">
                  <div class="full width_9" style="margin-bottom:25px;"> <a href="index.html"><img class="img-responsive" width="250" src="images/Tungalogo.png" alt="#"></a> </div>
                  <div class="full width_9">
                     <p>The Quickest Road to Innovation Leads Through Africa</p>
                  </div>
                  <div class="full width_9">
                     <p>Companies worldwide use Tunga’s workforce of exclusively African software engineers to build new tech products quickly, affordably and smoothly</p>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 margin_bottom_30">
                  <div class="full">
                     <div class="footer_blog_2 width_9">
                        <h3>Twitter Feed</h3>
                        <p><i class="fa fa-twitter"></i> Creative_Talent - 26 mins
                           Te invitamos a seguir la cta. de WEntrepreneur_ ¡Atrévete! #Emprendimiento #PyMES #Economía #Bussines #Negocios https://t.co/Y7tZMmxGHn
                        </p>
                        <p><i class="fa fa-twitter"></i> Creative_Talent - 26 mins
                           Te invitamos a seguir la cta. de WEntrepreneur_ ¡Atrévete! #Emprendimiento #PyMES #Economía #Bussines #Negocios https://t.co/Y7tZMmxGHn
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 margin_bottom_30">
                  <div class="full">
                     <div class="footer_blog_2">
                        <h3>Social</h3>
                     </div>
                  </div>
                  <div class="full">
                     <ul class="footer-links">
                        <li><a href="#"><i class="fa fa-facebook"></i> 256 Likes</a></li>
                        <li><a href="#"><i class="fa fa-github"></i> 57+ Projects</a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i> 1,258 Followers</a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i> 2538+ Pins</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 margin_bottom_30">
                  <div class="full">
                     <div class="footer_blog_2 width_9">
                        <h3>Blog</h3>
                     </div>
                     <div class="blog_post_footer">
                        <div class="blog_post_img"> <img width="80" height="80" src="images/scr1.png" alt="#"> </div>
                        <div class="blog_post_cont">
                           <p class="date">July 22, 2015</p>
                           <p class="post_head">Round and round like a carousel</p>
                        </div>
                     </div>
                     <div class="blog_post_footer">
                        <div class="blog_post_img"> <img width="80" height="80" src="images/scr2.png" alt="#"> </div>
                        <div class="blog_post_cont">
                           <p class="date">July 22, 2015</p>
                           <p class="post_head">Round and round like a carousel</p>
                        </div>
                     </div>
                     <div class="blog_post_footer">
                        <div class="blog_post_img"> <img width="80" height="80" src="images/scr3.png" alt="#"> </div>
                        <div class="blog_post_cont">
                           <p class="date">July 22, 2015</p>
                           <p class="post_head">Round and round like a carousel</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- footer bottom -->
      <div class="footer_bottom">
         <p>Designed and developed by <strong>Abdel-Quodr</strong></p>
      </div>
   </footer>
   <!-- end footer -->
   <!--=========== js section ===========-->
   <!-- jQuery (necessary for Bootstrap's JavaScript) -->
   <script src="js/jquery.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <!-- wow animation -->
   <script src="js/wow.js"></script>
   <!-- custom js -->
   <script src="js/custom.js"></script>
   <!-- google map js -->
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
   <!-- end google map js -->
</body>
</html>